@import "tailwindcss";
@plugin "daisyui";
*{
    margin: 0;
    padding: 0;
}
h1{
    margin-left: 10%;
}
.text{

    padding: 20px;
    color:white;
    text-align: center;
}
.text h1{
    margin: 20px;

}